include header
include article


mixin layout(params)
    main
        input#go-head.show-control(type='radio' name='content-control' checked)
        .main-header.flexy__item.flexy--between
            header.main-header__heading.flexy__child
                h1 css-works
            nav.main-header__nav
                header.main-header__nav__heading
                    label.main-header__nav__heading__action(for='go-head')
                        svg.svg-icon
                            g(stroke-width='.04em' fill='none')
                                circle(cx='0.5em' cy='0.5em' r='0.48em')
                                //- line(x1='0.5em' y1='0.2em' x2='0.5em' y2='.8em')
                                line(x1='0.25em' y1='0.55em' x2='0.5em' y2='.35em')
                                line(x1='0.75em' y1='0.55em' x2='0.5em' y2='.35em')
                    label.main-header__nav__heading__action(for='nav-control')
                        svg.svg-icon
                            g(stroke-width='.05em' fill='none')
                                //- circle(cx='0.5em' cy='0.5em' r='0.48em')
                                line(x1='0.2em' y1='0.3em' x2='0.8em' y2='0.3em')
                                line(x1='0.2em' y1='0.5em' x2='0.8em' y2='0.5em')
                                line(x1='0.2em' y1='0.7em' x2='0.8em' y2='0.7em')
                                //- line(x1='0.5em' y1='0.2em' x2='0.5em' y2='0.8em')
                                //- line(x1='0.25em' y1='0.55em' x2='0.5em' y2='.8em')
                                //- line(x1='0.75em' y1='0.55em' x2='0.5em' y2='.8em')
                input.show-control(type='checkbox' id='nav-control')
                .show-control__content.main-header__nav__container.flexy__item.flexy--column.flexy--justify-center.flexy--items-center
                    h2.main-header__nav__list__heading Exercises
                    ul.main-header__nav__list
                        -var urls
                        each item, key in params
                            - urls = []
                            li.main-header__nav__list__item
                                if item.articles
                                    each link in item.articles
                                        - urls.push(link.example.work)
                                    label.main-header__nav__list--button(for='go-section-#{key}' data-content-url='#{urls}' tabindex='#{key + 1}') #{item.header.title[0]}
                                        strong #{item.header.title[1]}
                    label.main-header__nav__list__heading(for='nav-control') Close

        each item, key in params
            if key != 0
                input.show-control(type='radio' name='section-control' id='go-section-#{key}')
            else
                input.show-control(type='radio' name='section-control' id='go-section-#{key}' checked)
            section.main-section.show-control__content.flexy__item.flexy--column(id='section-#{key}')
                if item.articles
                    +header(item.header, ('go-content-'+ key), false)
                    input.show-control(type='radio' name='content-control' id='go-content-#{key}')
                    .main-section__content.show-control__content.bg-pattern.mask
                        +article(item.articles, key)
                else
                    +header(item.header, ('go-content-'+ key), true)
